In [2]:
# 1

letters = "python"
print(letters[0], letters[2])

p t

In [4]:
# 2

cn = "24가 2210"
print(cn[-4:])

2210

In [6]:
# 3

s = "파이썬파이썬파이썬"
print(s[0],s[3],s[6])

파 파 파

In [8]:
# 4

num_str = "720"

print(int(num_str))

720

In [9]:
# 5

data = "15.79"
print(float(data))

15.79

In [35]:
# 6

aircon = 48584
mon = 36
total = aircon * mon
to = "{:,}".format(total)
print("에어컨의 총 금액은 " + to + "원 입니다")

에어컨의 총 금액은 1,749,024원 입니다

In [25]:
# 7

jumin = "850701-1234567"

print("생년원일은 " + jumin[0:6] + " 입니다.")

if jumin[7] == "1":
    print("성별은 남자입니다.")
print("태어난 월은 " + jumin[3] + "월 입니다.")

생년원일은 850701 입니다.
성별은 남자입니다.
태어난 월은 7월 입니다.

In [32]:
aircon = 48584
mon = 36
total = aircon * mon

to = "{:,}".format(total)
print(to)

1,749,024

In [29]:
number_with_commas = "{:,}".format(1000000)

print(number_with_commas)

1,000,000