In [5]:
x, y = input("숫자 두 개를 입력 : ").split()
print(x, y)

숫자 두 개를 입력 : 1 2
1 2

In [198]:
# map 함수
# map(적용함수, 지정함수) 지정된함수의 각각의 요소에 적용함수를 적용해줌

x,y = map(int, input("숫자 입력 : ").split()) # 리스트 안의 요소들이 정수형으로 바뀜
print(x + y)

숫자 입력 : 5 3
8

In [201]:
x,y = map(int, input("숫자 입력 : ").split(","))
print(x+y)

숫자 입력 : 5,           1
6

In [17]:
print(10, 20, 30)
print(10, 20, 30, sep = ",")
print(10, 20, 30, sep="")

10 20 30
10,20,30
102030

In [ ]:
# 비교연산자, 논리연산자 => 연산 결과가 불린형
1==2 # = 의미는 assign, == 의미? equal
1 !=2 # != (not equal)

'test' == 'test' # True
'test' == 'Test' # False

'Trump' 'trump'
'sky' 'Sky'
# 의미는 같지만 대소문자의 차이로 서로 다른 문자로 인식
# 자연어 전처리 과정에서는 대소문자를 통일하는 작업을 수행

In [23]:
# 논리연산자 : and, or , not 연산자
True
False

# and : 모두 다 참인경우만 참이되는 연산자
True and False # False
True and True # True

# or : 적어도 하나 이상이 참인 경우 참이되는 연산자
True or False
True or True

# not : 참 -> 거짓, 거짓 -> 참
not True

# 논리 연산자 우선순위 : not > and > or
not True and False # == False and False

False

In [24]:
1==1 and 1!=2
# 비교연산자 2개, 논리연산자 1개
# 우선순위: 비교연산자 > 논리연산자

True

In [27]:
# bool(): 정수, 실수, 문자 -> 불린형태로
bool(100) # True
bool(-100) # True
bool(1) # True
bool(0) # False

bool(3.14) # True
bool(-1.1) # True
bool(0.1) # True
bool(0.0) # False

bool("a") # True
bool("Test") # True
bool("") # False 공백문자도 없이 아무것도 없는 경우에만 False

False

In [41]:
# 포매팅

a = int(input("숫자를 입력 : "))
b = "three"
c = 2.1

print("I eat %d apples" % a) # d -> digit(수)의 약자 : 정수만
print("I eat %s bananas" % b) # s -> string(문자열)의 약자
print("I eat %f apples" % c) # f -> float의 약자 실수형태(소수점 6자리까지 나옴)
print("I eat %.1f apples" % c)

# "Acuuracy is 90%"를 표기할 때 (%표기 방법)
print("Accuracy is %d%%" %90) # %%를 사용하여 표기

숫자를 입력 : 5
I eat 5 apples
I eat three bananas
I eat 2.100000 apples
I eat 2.1 apples

In [37]:
print("I ate %d apples. so I was sick for %s days" %(3, "three"))

I ate 3 apples. so I was sick for three days

In [43]:
print("%s" %"hello")
print("%10s" %"hello") # 10칸 확보 후 우측으로 정렬
print("%-10s" %"hello") # 10칸 확보 후 좌측으로 정렬

hello
     hello
hello

In [44]:
num = 3
day = "five"

In [48]:
print("I ate %d apples. so I was sick for %s days" %(3, "three"))
print("I ate %d apples. so I was sick for %s days" %(num, day))
print("I ate {0} apples. so I was sick for {1} days".format(num,day))
# {0}: format 함수의 첫 번째 인수
# {1}: format 함수의 두 번째 인수

I ate 3 apples. so I was sick for three days
I ate 3 apples. so I was sick for five days
I ate 3 apples. so I was sick for five days

In [51]:
print("I ate {1} apples. so I was sick for {0} days".format(num,day)) # 순서 바꿔서도 사용 가능
print("I ate {num} apples. so I was sick for {day} days".format(num=3,day="Three"))

I ate five apples. so I was sick for 3 days
I ate 3 apples. so I was sick for Three days

In [59]:
print("{0:<10}".format("hello"))
# :<10 의 의미? 전체 자리수가 10자리, 왼쪽 정렬
# 0의 의미는 포맷함수 인수의 위치
print("{0:^10}".format("hello")) # 가운데 정렬
print("{0:$^10}".format("hello")) # $는 공백 채우는 용도

hello
  hello
$$hello$$$

In [64]:
# 파이썬에서는 문자열 자체적으로 문자열 관련 함수를 가지고 있음 -> (문자열) 내장 함수
# 사용방법 : 문자열(변수).내장함수()

"data".count("a")

x = "data"
x.count("a")

2

In [71]:
x.find("a") # "a"의 위치, 0번부터 시작
x.find("b") # 문자가 없는 경우에는 -1이 리턴

x.index("a")
x.index("b") # 문자가 없는 경우에는 오류가 발생

ValueError: substring not found

In [217]:
# "a,b,c,d" => "abcd"
x = "a,b,c,d"
x.replace(",","")

'abcd'

In [3]:
x = "a,b,c,d"
res = x.split(",")
res

['a', 'b', 'c', 'd']

In [2]:
print(",".join(res))
# res에 저장되어 있는 각각의 문자가 컴마로 연결

# split <-> join

a,b,c,d

In [87]:
"test".capitalize()
"test".upper()
"test".lower()

'test'

In [90]:
a = " hello "
b = "hi"
print(a, b, sep="")

 hello hi

In [93]:
a.strip() # 양쪽 공백 제거
a.lstrip() # 왼쪽 공백 제거
a.rstrip() # 오른쪽 공백 제거

# "hello   "  != "hello"

' hello'

In [96]:
a = "Python is too easy"
a.replace("easy", "difficult")

a.replace("o", "t")

'Pythtn is ttt easy'

In [109]:
# 리스트

# 리스트변수명 = [요소값1, 요소값2, 요소값3]

a = [] # 빈 리스트
a2 = [10, 20, 30] # 요소(element)
a3 = ["hi", "hello"]
a4 = [10, 20, "hi",True] # 여러 자료형 올 수 있음

a6 = list() # 함수를 사용해서 리스트 표현도 가능

In [226]:
a6

[]

In [116]:
#    0    1   2   3 
a = [10, 20, 30, 40]
a = [10, 20, 30,40, [50,"a","b"]] # 리스트는 리스트를 요소값으로 할 수 있다

In [118]:
a[4][1]

'a'

In [123]:
a = [10, 20, 30,40, [50,"a",[3.14,True,100],"b"]]

In [125]:
a[-1][-2][0]

3.14

In [128]:
# 리스트(동적) != 배열(array, 정적)
a = [10, 20, 30, 40, 50]
a [0:3]

[10, 20, 30]

In [130]:
a = [10,20,30,["가","나","다"],40,50,60]

In [133]:
a[3][0:2]

['가', '나']

In [134]:
a= [10, 20]
b= [30, 40]

In [136]:
a*3 # 요소들 3번 반복
a+b # a, b의 요소들 합함

[10, 20, 30, 40]

In [139]:
# len 함수
# 리스트, 문자열, 딕셔너리, 튜플의 길이를 알려주는 함수

len("hello")

5

In [141]:
s=[10, 20, "hello"]
s

[10, 20, 'hello']

In [1]:
range(5) # 0~4 까지 연속된 수열

list(range(5)) # 리스트구조로 요소가 0~4로 들어감

print(list(range(10,50,3))) # 10 ~ 49까지 차이가 3만큼 커짐

# range(시작 값, 끝 값, 증감 값)
# 파이썬에서는 증감값으로 정수만 가능한데 넘파이는 실수형으로 가능

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [168]:
a = list(range(10,0,-1))

lst = []
for i in a:
    i = i/2
    lst.append(i)
print(lst)

[5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5]

In [177]:
# append 함수 리스트의 맨 마지막에 추가
a = [10, 20]
a.append(30)
a.append([100,200]) # 리스트를 추가하는 것도 가능
b = 20
a.append(b)
a

[10, 20, 30, [100, 200], 20]

In [181]:
# sort 함수 : 정렬해줌

a = [30, 10, 20]
a.sort()
a

# 문자는 ascii코드 값을 기준으로 정렬 (A:65 ~ Z:90 , a:97 ~ z:122)
# 인코딩 : 코드화(문자, 숫자 등 -> 코드(0,1))하는 작업
# 디코딩 : 코드(0,1) -> 문자, 숫자 등

# 인코딩 / 디코딩 방식 : ascii, ebcdic, bcd, utf8, utf16, euc-kr 등등
# 아스키 : 모든 문자/숫자를 7비트로 표현(7비트 = 2의 7승 = 128가지 문자를 표현 가능)
# 0~127까지 코드

b = ["b","c","Z","t","v"]
b.sort()
b

['Z', 'b', 'c', 't', 'v']

In [1]:
a = ["b","c","Z","t","v"]
# a.reverse() # 역순으로 나열
a

# a 를 역순으로 표현하고 싶으면..1
a.sort()
a.reverse()
a

['v', 't', 'c', 'b', 'Z']

In [196]:
# a 를 역순으로 표현하고 싶으면..2

a = ["b","c","Z","t","v"]
a.sort(reverse=True)
a

a = ["b","c","Z","t","v","0",chr(95)]
a.sort(reverse=True)
a

['v', 't', 'c', 'b', '_', 'Z', '0']

In [197]:
chr(65) # 아스키코드 값을 아스키 문자로 변환
chr(90)
chr(95)
chr(127)

'_'

In [10]:
num_list = list(range(2,101))
num_list

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]