In [3]:
# insert 함수: 리스트내의 특정 위치에 데이터를 삽입

a = [10, 20, 30]
a.append(100)

In [4]:
a

[10, 20, 30, 100]

In [5]:
a.insert(1, 15) # (들어갈 index 위치 , 요소 값)

In [6]:
a

[10, 15, 20, 30, 100]

In [7]:
# extend 함수 : 리스트 마지막에 요소값들을 넣어줌
# append와 차이는 append는 리스트 통으로 넣지만 extend는 요소들을 분해해서 넣어줌

In [8]:
a = [10, 20, 10, 20]

In [ ]:
# remove 함수
# 맨 앞에 요소를 삭제해줌
# remove(요소값)

In [9]:
a.remove(10)

In [10]:
a

[20, 10, 20]

In [11]:
# pop 함수
# a.pop() 가장 마지막 요소를 꺼낸다음 제거
# data = a.pop() #가장 마지막 요소를 꺼낸다음 data에 저장

In [22]:
# a.pop(1) # index 위치를 지정해서 꺼내줄 수도 있음

In [20]:
a = [10, 20, 30]

In [21]:
a.pop(1)

20

In [ ]:
# 튜플 : 리스트와 거의 비슷. 
# 리스트 : [] , 튜플 : () 로 자료 표현
# 리스트는 데이터를 생성, 수정, 삭제 등을 수행
# 튜플은 데이터를 변경할 수 없음

In [5]:
tup1 = () # 튜플도 빈 튜플을 만들 수 있음
tup1
type(tup1)

tup2 = (1)
tup2
type(tup2) # 튜플안에 기호를 넣어줘야 int로 안 나옴

tup2 = (1,)
tup2
type(tup2) # 튜플은 ',' (콤마)를 사용해야 튜플로 인식함!

tup3 = (10, 20, 30)
tup3

tup4 = 1,2 # 소괄호를 안 써도 튜플로 인식되긴 함. 근데 쓰지 말도록 하자
tup4

(1, 2)

In [6]:
# 에러 발생의 경우

# del tup4[0] 튜플은 데이터를 변경x

# tup[1] = 3 튜플은 데이터를 변경x

In [7]:
l4 = list(tup4) # 튜플 -> 리스트

In [8]:
l4[1] = 3
l4

[1, 3]

In [37]:
tup4 =tuple(l4)
tup4

(1, 3)

In [10]:
tup5 = (10, 20, "가", "나")
tup5

(10, 20, '가', '나')

In [11]:
tup5[3] # 참조는 가능
# tup5[2:]

'나'

In [43]:
print(tup5)
print(tup3)

(10, 20, '가', '나')
(10, 20, 30)

In [45]:
li1 = [1,2]
li2 = [3,4]
li1 + li2

[1, 2, 3, 4]

In [47]:
tup3 + tup5 # 튜플 합치기는 가능

(10, 20, 30, 10, 20, '가', '나')

In [52]:
print(li1 * 5)
print(tup5 * 3) # 반복도 가능

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
(10, 20, '가', '나', 10, 20, '가', '나', 10, 20, '가', '나')

In [53]:
print(li1)
print(tup5) # 길이 구하는 것도 가능

[1, 2]
(10, 20, '가', '나')

In [54]:
range(5) # 0~4

range(0, 5)

In [56]:
# range를 활용하여 튜플,리스트에 연속된 값을 넣어줄 수 있음

print(tuple(range(5)))
print(list(range(5)))

(0, 1, 2, 3, 4)
[0, 1, 2, 3, 4]

In [60]:
print(list("data")) # 문자열을 list함수 안에 넣으면 하나 하나 분리되서 요소로 들어감

print(tuple("data")) # 튜플도 마찬가지

['d', 'a', 't', 'a']
('d', 'a', 't', 'a')

In [61]:
# set : 파이썬에서 집합을 의미함
# 중괄호, 컴마로 구분
# 중복을 허용하지 않음

In [63]:
s1 = {1,2,3,1,2,4}
print(s1)
s2 = {"hi", "hello", "bye", "hi"}
print(s2) # 자료 위치가 랜덤하게 출력. 저장 순서가 없음 => 대괄호 기호를 사용하여 데이터 참조를 할 수 없음

{1, 2, 3, 4}
{'hello', 'bye', 'hi'}

In [ ]:
# 리스트나 튜플에서는 데이터 참조시 대괄호([]) 기호를 사용
# 리스트변수명[3] : 4번째 자료 추출
# s2[1] 에러 발생

In [66]:
# in 연산자

print("key" in s2)
print("bye" in s2)

# not in 연산자
print("bye" not in s2)

False
True
False

In [68]:
a = set("hello")
print(a) # 튜플처럼 중복이 제외된 상태에서 분해되어 저장됨

{'l', 'e', 'h', 'o'}

In [69]:
range(5) # range 객체 : 0 ~ 4 까지 범위를 갖는 값들을 포장해놓은 포장물(객체)

# 객체? 객체지향언어에 등장하는 클래스로부터 파생된 실체(인스턴스)

range(0, 5)

In [71]:
list(range(5)) # 포장지를 뜯어서 리스트 형태로 만듬
tuple(range(5)) # 포장지를 뜯어서 튜플 형태로 만듬
set(range(5)) # 포장지를 뜯어서 집합 형태로 만듬

{0, 1, 2, 3, 4}

In [72]:
c = set()
print(c) # c는 공집합이 됨

set()

In [73]:
c = {} # dictionary
type(c)

dict

In [76]:
set_han = set("반갑습니다반갑고요") # 한글을 넣어도 중복 제거
print(set_han)

{'고', '습', '갑', '요', '다', '니', '반'}

In [78]:
a = {10, 20, 30}
b = {30, 40, 50}
c = {}
print(type(a),type(b),type(c))

<class 'set'> <class 'set'> <class 'dict'>

In [79]:
print(a | b) # or 연산자, 합집합(union)
set.union(a,b)

{50, 20, 40, 10, 30}

{10, 20, 30, 40, 50}

In [81]:
# 교집합(intersection)

print(a & b) # and 연산자, 교집합
print(set.intersection(a,b))

{30}
{30}

In [85]:
# 차집합(difference)

print(a - b)
print(set.difference(a,b))

{10, 20}
{10, 20}

In [86]:
# 대칭차집합, XOR 연산
print(a ^ b)

{40, 10, 50, 20}

In [90]:
# set(집합) 내 자료 추가

a = {10, 20, 30}
a.add(40) # 추가할 자료를 괄호안에 넣음
print(a)

{40, 10, 20, 30}

In [14]:
# set 내 자료 제거
a = {10,20,30,40}
a.remove(20) # 제거할 자료를 괄호안에 넣음
print(a)

{40, 10, 30}

In [15]:
# a.remove(20) - error 발생
# a.discard(20) - error 발생 안함

a.discard(30)
print(a)

# remove, discard 둘 다 데이터를 제거해주지만 remove는 집합내 없는 자료를 지우려하면 에러가 발생함

{40, 10}

In [100]:
a = {10, 20, 30}

a.pop() # set에서 사용가능
print(a)

a.pop()
print(a)

a.pop()
print(a)

{20, 30}
{30}
set()

In [101]:
# 집합은 자료의 순서가 유지되지 않음
# set 자료구조는 자료의 저장 순서가 필요없으면서도 중복을 제거해야 하는 상황에서 사용

In [105]:
a = {10,20,30}
print(len(a))
a.clear() # 집합내 요소를 전부 없애줌
print(a)

3
set()

In [113]:
s1 = {10, 20, 30}

s2 = s1

print(s2)

{10, 20, 30}

In [114]:
# 대입연산자로 새로운 변수에 할당하게 되면, set이 2개가 아니라 여전히 1개
# s1 s2가 따로 따로 집합을 형성하는게 아니라 공동으로 있음

s2.add(40)
print(s2)
print(s1)

{40, 10, 20, 30}
{40, 10, 20, 30}

In [115]:
# is : s1, s2 집합이 동일한 집합인지 확인하는 연산자

print(s1 is s2)

True

In [118]:
# copy() : 두 개의 완전히 분리된 집합을 생성하기 위한 함수

a = {10, 20, 30}
# b = a 동일한 집합

b = a.copy()
print(a)

# is : 두 집합이 동일한지(메모리 상의 주소, 위치) 확인
print(b is a) # a, b 두 집합은 서로 다른 집합이 됐음
# False의 의미? -> a 집합과 b 집합의 자료들이 메모리 상의 다른 위치에 저장되어 있음을 의미!

# ==: 두 집합에 속해있는 요소{1, 2, 3}가 동일한지 확인
print(a == b) # 요소가 같아서 True가 나옴

{10, 20, 30}
False
True

In [119]:
b.add(40)
print(b, a) # 서로 다른 요소를 갖게 됨 <- copy를 해서 사본을 만들었기 때문

{40, 10, 20, 30} {10, 20, 30}

In [ ]:
# Dictionary

# 단어 : 설명 -> 키(key) :  값(value) 의 쌍으로 자료를 구성
# json 파일이 딕셔너리 구조로 이루어져 있음

# 딕셔너리 = {키1: 값1, 키2: 값2}

In [126]:
people = {"name":"kim",
          "cp":114,
          "birth":"0707",
         10:"ten"}

print(people)

# 값이 확정이 안되어있으면 value 값을 None 으로 초기화시켜놓으면 됨

# 키 이름이 중복될 경우
people = {"name":"kim",
          "cp":114,
          "birth":"0707",
         10:"ten", "cp":119, # 마지막 키에 해당하는 값이 저장됨
         "nickname":["ai", "robot"]} # 밸류에 리스트형태로 쓸 수 있음(키는 안됨)
print(people)

{'name': 'kim', 'cp': 114, 'birth': '0707', 10: 'ten'}
{'name': 'kim', 'cp': 119, 'birth': '0707', 10: 'ten'}

In [134]:
nes = {
    "name":"NaEunSu",
    "adress":"Bucheon",
    "gender":"Male",
    "nickname":"nestory",
    "hobby":"balling"
}
print(nes)

{'name': 'NaEunSu', 'adress': 'Bucheon', 'gender': 'Male', 'nickname': 'nestory', 'hobby': 'balling'}

In [ ]:
s = {} # set이 아닌 dict구조
s = dict() # 이렇게도 비어있는 dictionary 생성 가능

In [135]:
# people = {"name":"kim", "cp":114}

mydic = dict(name = "kim", cp = 114) # dict 함수에서는 키에 ""을 쓰면 안됨
# mydic = dict("name" = "kim", "cp" = 114) 에러 발생!
# dic 함수에서는 숫자(int)를 key로 사용하지 못함!
print(mydic)

{'name': 'kim', 'cp': 114}

In [143]:
# dict함수와 zip함수를 활용하여 딕셔너리를 생성가능
# 잘 사용하지 않는 방법

# zip()

zip(["one", "two"],[1,2])
# 이 상태는 포장되어 있는 상태라 볼 수 없음

print(dict(zip(["one", "two"],[1,2])))
# zip([key 값], ["value 값"])으로 표현

{'one': 1, 'two': 2}

In [148]:
# 딕셔너리의 키에 연결된 값을 추출하는 작업
print(mydic["name"])

kim

In [149]:
mydic["cp"] = 119 # value 값 변경

print(mydic)

{'name': 'kim', 'cp': 119}

In [150]:
mydic["bloodtype"] = "B" # 데이터 추가하는 방법

print(mydic)

{'name': 'kim', 'cp': 119, 'bloodtype': 'B'}

In [153]:
# 딕셔너리에 어떤 키가 존재하는지 확인

"gender" in mydic # False
"name" in mydic # True

True

In [175]:
res_key =mydic.keys() # mydic 안에 있는 key 값들을 보여줌
res_val = mydic.values() # mydic 안에 있는 value  값들을 보여줌
res_item = mydic.items() # mydic 안에 있는 key, value 값을 튜플로 묶어서 보여줌

print(list(mydic.items()))
print(list(mydic.items())[0]) # 리스트이기 때문에 인덱스 사용가능
print(list(mydic.items())[0][1]) # 첫 번째가 튜플이기때문에 추가로 인덱스 또 사용가능

[('name', 'kim'), ('cp', 119), ('bloodtype', 'B')]
('name', 'kim')
kim

In [196]:
li=[('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')]
mydic = dict(li)

In [192]:
mydic["cp"] # == mydic.get("cp")

# mydic["addr"] # 해당 키가 없는 경우에는 에러 발생
print(mydic.get("addr")) # 에러없이 None 값 발생
print(mydic.get("addr", "서울")) # 없는 키값에 value값을 넣어줄 수도 있음

print(mydic.get("bloodtype", "A"))
# 키가 존재하면 값을 리턴, 키가 존재하지 않으면 A를 디폴트값으로 리턴

None
서울
B

In [197]:
del mydic["cp"]
print(mydic)

{'name': 'kim', 'bloodtype': 'B'}

In [199]:
len(mydic)

2

In [200]:
## 딕셔너리 연습 ##

In [228]:
t = {"새우깡":1000, "감자칩":2000, "요구르트":500}

In [229]:
t

{'새우깡': 1000, '감자칩': 2000, '요구르트': 500}

In [230]:
t["생수"] = 500

In [231]:
t

{'새우깡': 1000, '감자칩': 2000, '요구르트': 500, '생수': 500}

In [232]:
t["새우깡"] = 1500

In [233]:
t

{'새우깡': 1500, '감자칩': 2000, '요구르트': 500, '생수': 500}

In [234]:
del t["요구르트"]

In [235]:
t

{'새우깡': 1500, '감자칩': 2000, '생수': 500}

In [ ]:
# 새우깡 가격1000 수량 5
# 생수 가격 500 수량 10
# 표현해보기

In [239]:
가격 = {"새우깡": 1000, "생수":500}
재고 = {"새우깡":5, "생수":10}

In [240]:
제품 = {"새우깡":[1000,5],"생수":[500,10]}

In [244]:
가격["새우깡"]
재고["새우깡"]
제품["새우깡"]

[1000, 5]

In [248]:
print(str(가격["새우깡"]) + "원", str(재고["새우깡"])+ "개")

1000원 5개

In [253]:
제품 = {"새우깡":[1000,5],"생수":[500,10]}

# 생수의 재고량을 출력

print("생수의 재고량은 " + str(제품["생수"][1]) + "개 입니다.")

생수의 재고량은10개 입니다.

In [256]:
list(제품.keys())
list(제품.values())

[[1000, 5], [500, 10]]