In [4]:
for i in range(10):
    if i % 2 !=0:
        continue
    print(i)

0
2
4
6
8

In [16]:
for i in range(4):
    for l in range(3):
        print("*",end ="")
    print("")

***
***
***
***

In [33]:
a = []
a.append(10)
a

[10]

In [34]:
a.extend([20,30])
a

[10, 20, 30]

In [35]:
a.insert(1, 15)

In [36]:
a

[10, 15, 20, 30]

In [37]:
a.insert(len(a),40)

In [38]:
a

[10, 15, 20, 30, 40]

In [48]:
# 20과 30 사이에 한 번에 25, 27을 추가

a = [10,15,20,30,40]

a[:3]+[25,27]+a[3:] # == a[3:3] = [25, 27]

[10, 15, 20, 25, 27, 30, 40]

In [51]:
a = [10,15,20,30,40]

a[3:3] = [25,27]
a

[10, 15, 20, 25, 27, 30, 40]

In [57]:
# pop: 마지막 요소, 특정 번호의 데이터 삭제
# remove : 데이터 값을 찾아서 삭제

a = [4,5,6]

# a.pop()
# a.pop(1)

# 또는 del 함수로 제거 가능
del a[1]
a

[4, 6]

In [59]:
a = [4,5,6]

a.remove(4)
a

[5, 6]

In [63]:
# index, count 함수

a = [4,5,6,4]
a.count(4) # a 리스트에서 4의 갯수를 알려줌
a.index(5) # a 리스트에서 5의 위치를 알려줌

1

In [64]:
a = [4,5,6,4]
a.sort() # a에는 정렬된 결과가 저장됨
a

[4, 4, 5, 6]

In [66]:
a = [4,5,6,4]
sorted(a)

[4, 4, 5, 6]

In [70]:
a = [4,5,6,4]

# a.clear()
del a[:]
a

[]

In [78]:
a = [100,200]

a.extend([300,400])
print(a)

a = [100,200]
# a.extend([300,400]) 과 같은 방법

a[len(a):]=[300,400]
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400]

In [89]:
a = [100,200]
print(a)

if a:
    print("비어있지 않음")
else:
    print("비어있음")

[100, 200]
비어있지 않음

In [91]:
a = [3,1,2,4,5]

for idx, v in enumerate(a):
    print(idx, v) # idx는 index v는 저장값

0 3
1 1
2 2
3 4
4 5

In [97]:
a = [3,-2,5,1,-6]

for idx, v in enumerate(a):
    if v > 0:
        print(v)

3
5
1

In [3]:
a = [3,7,1,5,2]

In [4]:
# a 리스트에서 최소값 추출

small = a[0]

for i in a:
    if i > small:
        small = i
print(small)

7

In [103]:
# 정렬 후 최소 값 추출

a.sort()
print(a[0])

a.reverse()
print(a[-1])

1
1

In [107]:
# min, max 함수 사용

print(min(a))
print(max(a))

# 리스트 내 총합
print(sum(a))

1
7
18

In [126]:
# list comprehension(리스트 내포) : 리스트 내부에 for, if 문 등을 사용 => 리스트 생성
# -> 리스트 생성

# 리스트 표현식 작성법
# [식 for 변수 in 리스트(반복가능한 객체: range 등)]

x = [x for x in range(10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
li = []
for i in range(10):  
    li.append(i)
    
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
x = (x for x in range(10)) # <generator object <genexpr> at 0x000001B487EE66D0>
x = list((x for x in range(10))) # 제너레이터로 생성도 가능
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
# 리스트 내포를 이용하여 10 ~ 20까지 값을 갖는 리스트를 생성

lis_comp = [x for x in range(10,21)]
print(lis_comp)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [140]:
x = [x for x in range(10,21)] # 밖에 있는 x 는 안에 있는 x랑 다름

# 변수 x = [ 리스트 ]

In [150]:
ls = [x*5 for x in range(0,6)]
print(ls)

[0, 5, 10, 15, 20, 25]

In [152]:
# [식 for 변수 리스트 if 조건식]

[i for i in range(10) if i%2 == 0]


"""
1) range(10)   -> 0,1,2,,,9
2) if i%2 == 0 -> 0,2,4,6,8
3) 뽑아낸 짝수가 i에 전달되어 리스트가 생성 됨
"""

'\n1) range(10)   -> 0,1,2,,,9\n2) if i%2 == 0 -> 0,2,4,6,8\n3) 뽑아낸 짝수가 i에 전달되어 리스트가 생성 됨\n'

In [157]:
# 0~9까지 숫자 중에서 홀수에 3을 곱한 리스트 생성

odd_list = [i*3 for i in range(10) if i%2 !=0] # !=0 안써도 됨 why? i%2 !=0 이면 참이기 때문에!
print(odd_list)

[3, 9, 15, 21, 27]

In [169]:
a = ["a", "b", "c", "d", "e"]
b = ["A", "B", "C", "D", "E"]

# [i+j for i in a for j in b]
# 이건 밑에 코드랑 같은 의미임

mylist = []

for i in a: # 1) i에 a의 첫번째 요소가 들어감
    for j in b: # 2) j에 b의 첫번째 요소가 들어감
        mylist.append(i+j) # 3) i+j가 mylist에 들어감
print(mylist)

['aA', 'aB', 'aC', 'aD', 'aE', 'bA', 'bB', 'bC', 'bD', 'bE', 'cA', 'cB', 'cC', 'cD', 'cE', 'dA', 'dB', 'dC', 'dD', 'dE', 'eA', 'eB', 'eC', 'eD', 'eE']

In [172]:
[i*j for i in range(2,10) for j in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [190]:
gugudan = []

for i in range(2,10):
    for j in range(1,10):
        gugudan.append(i*j)
    print("[%s단]"%i)
    print(gugudan)

[2단]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[4단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36]
[5단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[6단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54]
[7단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63]
[8단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72]
[9단]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [193]:
[i for i in range(30) if i%2 ==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [195]:
[i for i in range(30) if i%2 ==0 and i%3 == 0]

[0, 6, 12, 18, 24]

In [205]:
# 리스트 내포에서 else도 사용 가능, 단 elif는 불가

# 0 ~ 9 까지 수를 리스트에 저장하고자 하는데,
# 짝수는 even, 홀수는 odd 저장

["even" if i%2==0 else "odd" for i in range(10)]

# ["zero", "odd", "even",,,,] elif 없이 3가지 조건 저장하기

["zero" if i==0 else "even" if i%2==0 else "odd" for i in range(10)]

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']