In [4]:
# 1.

num = int(input("숫자를 입력 : "))

def is_odd(num):
    if num % 2 == 0:
        print("짝수")
    else:
        print("홀수")

is_odd(num)

숫자를 입력 : 78
짝수

In [6]:
# 2.

with open("test.txt", "w") as f:
    f.write("Life is too short")

with open("test.txt", "r") as f:
    s = f.readline()
    print(s)

Life is too short

In [203]:
# 3.

with open("test.txt", "w") as f:
    f.write("Life is too short\nyou need Java")

with open("test.txt", "r") as f:
    s = f.readlines()
    for i in s:
        i =  i.replace("Java","Python")
        print(i,end="")

Life is too short
you need Python

In [47]:
# 4-5.

def print_coin():
    print("비트코인", end=" ")

print_coin()

비트코인

In [48]:
# 6.

for i in range(100):
    print_coin()

비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인

In [50]:
# 7.

def print_coins():
    for i in range(100):
        print_coin()
        
print_coins()

비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인 비트코인

In [51]:
# 8.

sentence = input("문자를 입력하세요 : ")

def print_with_smile(s):
    print(s + ":D")

print_with_smile(sentence)

문자를 입력하세요 : 안녕
안녕:D

In [77]:
# 9.

def print_upper_price(a):
    a.sort()
    
    first_price = a[-1]
    second_price = a[-2]
    
    return first_price, second_price

priceList=[90,100,10,20,30,40,50,60,70,80]

print_upper_price(priceList)

(100, 90)

In [99]:
# 10.

def print_even(a):
    a_even = []
    for i in range(len(a)):
        if a[i] % 2 !=0:
            pass
        else:
            a_even.append(a[i])
    print(a_even)


num = []
inputNum = input("숫자를 ','를 포함하여 입력하세요 : ")
inputNum = inputNum.split(",")
inputNum = list(map(int, inputNum))


print_even(inputNum)

숫자를 ','를 포함하여 입력하세요 : 1,2,3,4,5,6
[2, 4, 6]

In [111]:
# 11.

dic = {'name':'kim', 'age':30, 'addr':'seoul', 'bt':'AB'}

def print_keys(dict):
    dict_keys_list = list(dict.keys())
    print(dict_keys_list)
    
print_keys(dic)

['name', 'age', 'addr', 'bt']

In [166]:
# 12.

input_sentence = input("문자열을 입력해주세요 : ")

def print_mxn(s,n):
    for i in range(len(s)-n+1):
        print(s[n*i:n*i+n])

문자열을 입력해주세요 : hello

In [167]:
print_mxn(input_sentence,2)

he
ll
o

In [177]:
# 13.

one_year_salary = int(input("연봉 입력 : "))

def calc_monthly_salary(annual_salary):
    monthly_salary = annual_salary//12
    
    return monthly_salary

calc_monthly_salary(one_year_salary)

연봉 입력 : 3400

283

In [178]:
# 14.

url = input("주소를 입력하세요 : ")

def make_url(s):
    print("www."+s+".com")
    
make_url(url)

주소를 입력하세요 : naver
www.naver.com

In [181]:
# 15.

string = input("문자를 입력하세요 : ")

def make_list(s):
    print(list(s))

make_list(string)

문자를 입력하세요 : abcd
['a', 'b', 'c', 'd']

In [253]:
# 16.

# 제너레이터 함수 생성
def generate(num):
    num_str = str(num)
    generate_num = 0
    for i in range(len(num_str)):
        generate_num += int(num_str[i])
    return generate_num + num


# 셀프넘버가 아닌 값 저장
not_self_number = []

for i in range(1,5000):
    not_self_number.append(generate(i))

# 셀프 넘버 구하기
not_self_number = set(not_self_number)
full_number = set(range(1,5000))

self_number = full_number - not_self_number

# 총 합 구하기
total_self_number = 0

for i in self_number:
    total_self_number += i

In [254]:
total_self_number

1227365