In [121]:
x = [1,2,3] # 리스트, 튜플 같이 자료들이 묶여있는것을 packing 이라고 부름

print(x)
print(*x) # unpacking을 해줘서 요소들이 풀려서 나옴
print(*[1,2,3])

[1, 2, 3]
1 2 3
1 2 3

In [122]:
def printNum(*args):
    for i in args:
        print(i)
        
printNum(1,2,3) # 가변 인수
printNum(*[1,2,3])

1
2
3
1
2
3
1
2
3

In [7]:
def perInfo(n, a, addr):
    print(n, a, addr)

In [10]:
perInfo(a = 30, addr = "서울", n = "김")

김 30 서울

In [13]:
num = (1,2,3,4,5) # packing
a,b,c,d,e = num # unpacking
a

1

In [14]:
num = (10,20,30,40,50)

a,b,_,d,e = num 

# 언더바 _ 는 해당 자리의 데이터를 버리겠다(무시하겠다)

In [17]:
print(_)

30

In [19]:
num

(10, 20, 30, 40, 50)

In [22]:
x = num[0]
y = num[1]
z = num[2:]

In [23]:
x,y,*z=num # 나머지 데이터 전체를 리스트에 담아 저장

In [24]:
print(x)
print(y)
print(z)

10
20
[30, 40, 50]

In [27]:
num

(10, 20, 30, 40, 50)

In [25]:
*x,y,z = num

In [30]:
x

[10, 20, 30]

In [31]:
x,*y,z = num

y

[20, 30, 40]

In [36]:
def dString(year, month, day):
    return str(year)+"년 "+str(month)+"월 "+str(day)+"일"

In [37]:
date = (2021,7,14)
dString(*date) # == dStirng(date[0],date[1],date[2])

'2021년 7월 14일'

In [39]:
dString(*(2021,7,14))

'2021년 7월 14일'

In [40]:
def test(*args): # 패킹 매개변수
    return sum(args)/len(args)

print(test(5,2))
print(test(1,2,3))

3.5
2.0

In [42]:
num
test(*num)

30.0

In [44]:
# 람다함수

# lambda : 함수를 정의할 때 사용하는 예약어(def와 동일), 간단한 기능의 함수를 정의할 때
#           또는 def 사용할 수 없는 곳에 쓰임

# def : 복잡한 기능을 갖는 함수를 정의할 때

In [46]:
def sum(a,b):
    return a+b

In [47]:
res = sum(10,20)
print(res)

30

In [52]:
# 위에 sum함수를 lambda로 표현

# 람다함수는 함수명이 없는 경우도 있음, 익명함수
sum_lambda = lambda a,b:a+b # 함수명 = lambda 매개변수 : 리턴값

In [53]:
sum_lambda(3,5)

8

In [54]:
(lambda x: x+1)(5)

6

In [58]:
(lambda x,y: x+y)(5,10)
(lambda x,y=10:x+y)(5) # 매개 변수에 초기 값을 대입해도 가능! 최신 버전만 가능

15

In [60]:
y = 10
(lambda x:x+y)(5) # 이렇게 쓰면 버전 상관없이 가능함

15

In [78]:
# 람다함수를 map함수의 인수로 전달하여 수행

def add(a):
    return a+1
x = [1,2,3]

# [2,3,4]가 출력

x_add = []
[x_add.append(add(i)) for i in x]
x_add

[2, 3, 4]

In [85]:
print(list(map(add,x)))

[2, 3, 4]

In [87]:
# 위에 코드를 람다함수로 표현

list(map(lambda x:x+1,x))

[2, 3, 4]

In [100]:
num=[1,2,3,4,5]
[str(i) if i%2==0 else i for i in num]

[1, '2', 3, '4', 5]

In [103]:
x= [1,2,3,4,5]

# 람다식에 if문을 쓰는 경우에는 콜론기호를 사용하지 않음
# 조건식 => 식(참) if 조건식 else 식(거짓)

list(map(lambda x: str(x) if x%2 ==0 else x, x))

[1, '2', 3, '4', 5]

In [105]:
# 조건식이 여러개일 경우

# 조건식 => 식1 if 조건식1 else 식2 if 조건식2 else 식3

list(map(lambda x: str(x) if x==1 else float(x) if x==2 else x,x))

['1', 2.0, 3, 4, 5]

In [112]:
x = [10,20,0,5,10]
y= [1,0,20,15,5]

In [114]:
list(map(lambda x,y:x*y, x,y))

[10, 0, 0, 75, 50]

In [129]:
# any, all 함수

# all: 모두 참 -> 참
print(all([10,20,-5]))
print(all([10,20,0]))
print(all(["","hello"]))

# any : 하나 이상이 참이면 참
print(any([10,20,0]))

True
False
False
True

In [130]:
# chr 함수
# chr(유니코드) : 전 세계의 모든 문자를 표현하기 위한 표준코드
# cf. 아스키코드는 0 ~ 127까지
print(chr(122))

z

In [143]:
# ord 함수
# 유니코드 해당 번호를 알 수 있음

print(ord("각"))
print(ord("a"))

44033
97

In [144]:
# divmod 함수
# 몫, 나머지 구하는 함수
# divmod(수, 나누는 수)
# 결과값은 튜플형태로 나옴

divmod(5,2)

(2, 1)

In [146]:
# enumerate 함수
# 열거형 함수. for 문과 많이 쓰임
# 리스트(튜플, 문자열 같이 순서가 있는 자료구조)의 자료를
# 입력받아서 (index, 자료) 형식으로 리턴해줌

a = ["a","b","c"]

for i in enumerate(a):
    print(i)
    
for i, data in enumerate(a):
    print(i, data)

(0, 'a')
(1, 'b')
(2, 'c')
0 a
1 b
2 c

In [148]:
# eval 함수
# 연산이 가능한 문자열을 전달받아 연산 수행을 하고 결과를 리턴해줌

a = "1+2"
print(eval(a))

3

In [149]:
# filter 함수
# 조건에 만족하는 자료들만 추출
# filter(함수, 리스트(튜플, 문자열,,)) -> 함수에 정의한 조건을 
# 만족하는 데이터들만 리턴해줌

def myFunc(data):
    return data > 3 and data < 7

In [179]:
data = [8,1,5,2,6]

print(list(filter(myFunc, data)))

# myFunc에서 3<data<7에 해당하는 값만 True로 통과
# filter함수에서 True된 값을 리턴시켜줌

[5, 6]

In [180]:
list(filter(lambda x:3<x<7,data))

[5, 6]

In [181]:
list(filter(lambda x: x if 3<x<7 else 0, data))
list(filter(lambda x: 3<x<7, data))

[5, 6]

In [182]:
data = [-1,3,2,-5,4]
# 양수만 출력

In [183]:
def pos(data):
    return data>0
list(filter(pos,data))

[3, 2, 4]

In [222]:
# map 함수를 활용하여 리스트의 값을 2배

s = [1,2,3]

In [226]:
def twiceUp(s):
    twice_s = []
    for i in s:
        twice_s.append(int(i)*2)
    return twice_s

print(list(map(int,twiceUp(s))))

[2, 4, 6]

In [219]:
list(map(lambda x:x*2,s))

[2, 4, 6]

In [220]:
for i in range(len(s)):
    s[i]=s[i]*2
print(s)

[2, 4, 6]

In [230]:
# max 함수 : 최대 값 출력
# min 함수 : 최소 값 출력
max([1,2,3])

3

In [231]:
# pow 함수 : 제곱
print(pow(3,2))

# round 함수 : 반올림
print(round(3.1))
print(round(3.141592))
print(round(3.141592,3)) # 반올림 할 소수점자리 지정가능

9
3
3
3.142

In [235]:
# lower, upper : 소문자화, 대문자화
print("hi".lower())
print("hi".upper())

hi
HI

In [238]:
# zip 함수 : 같은 위치의 자료들을 묶는 함수
print(list(zip([1,2],[3,4])))
print(list(zip("hi","hello"))) # 자리수가 같은 곳 까지만 묶어줌
print(list(zip([1,2],[3,4],[5,6,7])))

[(1, 3), (2, 4)]
[('h', 'h'), ('i', 'e')]
[(1, 3, 5), (2, 4, 6)]

In [239]:
# reduce () : 누적 함수

In [240]:
def myFunc(a,b):
    return a+b

In [244]:
from functools import reduce

x = [10,20,30,40,50]
reduce(myFunc,x) # 누적합 구해주는 함수
# 파이썬 3.x 버전에서는 지원이 안됨

150

In [ ]:
# 파일압축 : run-length 기법, 허프만 코드방식

# run-length 기법 : bmp파일

# 압축
aaaaaaaabbbbbccc # 16글자
a8b5c3 # 6글자

# 해제
a8b5c3
aaaaaaaabbbbbccc

# 단점
# 중복되는 문자가 적으면 압축이 의미없어짐

In [280]:
str = "aaaaaaaabbbbbccc"

# run-length 기법으로 a8b5c3로 압축하기